@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
    background-color: rgb(38, 19, 211);
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color:rgb(230, 233, 28);
    font-size: 40px;
}

.subtitulo{
    color:rgb(230, 233, 28);    
    font-size: 35px;
}

.tarjetas {
    display: flex;
    gap:10px
}

.tarjeta-mokepon{
    width: 135px;
    height: 100px;
    background: rgb(216, 37, 37);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid #118bd1;
    border-radius: 20px;
    display: flex;
    color: rgb(76, 213, 213);
}

.tarjeta-mokepon img{
    width: 55px;
}

input {
    display: none;
}