@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lobster&display=swap');

body {
    font-family: 'Bakbak One', cursive;
    background-color: rgb(38, 19, 211);
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color:rgb(230, 233, 28);
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

.subtitulo{
    color:rgb(230, 233, 28);    
    font-size: 35px;
}

.tarjetas {
    display: flex;
    gap:10px
}

.tarjeta-mokepon{
    width: 135px;
    height: 140px;
    background: rgb(216, 37, 37);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid #118bd1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
    color: rgb(76, 213, 213);
    
}

.tarjeta-mokepon img{
    width: 55px;
}

#boton-mascota {
    color: black;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    background: #4cd5c4;
    border: 4px solid #d82525;
    font-family: 'Lobster', cursive;
    margin-top: 20px;
}

input {
    display: none;
}

input:checked+label {
    background-color: rgb(247, 182, 5);
    color: var(--main-color-2);
    box-shadow: 1px1px10px rgb(13, 252, 5);
}

#selecionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    background-color: #118bd1;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #118bd1;
    border-radius: 20px;
    border-color: #b36512;
    width: 70px;
    height: 60px;
    color: white;
    font-family: 'Bakbak One', cursive;
}

#mensajes {
    width: 180px;
    background: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Bakbak One', cursive;
}

#boton-reiniciar{
    border: none;
    color:rgb(10, 31, 218);
    background-color: transparent;
}
